<div class="header">
  <div class="two-column character">

    <div class="character-title">
        <h2>Aggar</h2>
        <h3>Tiefling Sorcerer / Level 8</h3>
        <h4>Mephistopholes</h4>
    </div>

    <div class="stats">
        <div class="statBox" id="armorClass">
          <h4>AC</h4>
          <h2>15</h2>
        </div>
        <div class="statBox" id="hitPoints">
            <h4>Hit Points</h4>
            <h2>115/157</h2>
        </div>
        <div class="statBox" id="hitDie">
            <h4>Hit Die</h4>
            <h2>6/6</h2>
        </div>
        <div class="statBox" id="initiative">
            <h4>Initiave</h4>
            <h2>+1</h2>
        </div>
    </div>
    
  </div>


  <div class="levelBar three-column">
      <h4>LVL 8</h4>
      <progress id="level" max="150000" value="34000">34000</progress>
      <h4>LVL 9</h4>
  </div>

  <h4 id="progressIndicator">34000/150000 XP</h4>

  <div class="restButtons">
    <div class="buttonGroup">
        <button>Short Rest</button>
        <button>Long Rest</button>
    </div>
  </div>
</div>

<div class="quickStatBar mat-elevation-z3">
  <div class="quickStat">
    <button class="close"><mat-icon aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
    </button>
    <h2>21</h2>
    <h4>Armour Class</h4>
  </div>
  <div class="quickStat">
      <button class="close"><mat-icon aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
      </button>
      <h2>+5</h2>
      <h4>Initiative</h4>
  </div>
  <div class="quickStat">
      <button class="close"><mat-icon aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
      </button>
      <h2>30ft</h2>
      <h4>Speed</h4>
  </div>
  <div class="quickStat">
    <button class="close"><mat-icon aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
    </button>
    <h2>+17</h2>
    <h4>Passive Perception</h4>
  </div>
  <div class="quickStat">
    <button class="close"><mat-icon aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
    </button>
    <h2>+5</h2>
    <h4>Proficiency Bonus</h4>
  </div>
  <div class="quickStat">
    <button class="close"><mat-icon aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
    </button>
    <h2>30ft</h2>
    <h4>Vision</h4>
  </div>

  <button class="add"><mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon></button>
</div>

<app-skill-list></app-skill-list>
