h2 {
    font-family: 'Roboto', Arial;
    font-size: 32px;
    color: white;
    font-weight: 400;
}

h3 {
    font-family: 'Roboto', Arial;
    font-size: 24px;
    color: white;
    font-weight: 200;
}

h4 {
    font-family: 'Roboto', Arial;
    font-size: 16px;
    color: white;
    font-weight: 200;
    font-style: italic;
}

.header {
    background-image: linear-gradient(
        rgba(44, 46, 59, 0.80), 
        rgba(44, 46, 59, 0.80)
      ),
      url("/assets/img/forest.jpg");
      background-repeat: no-repeat;
      background-size: cover;

}

.two-column {
    display: flex;
    justify-content: space-around;
}

.stats {
    display: flex;
    justify-content: space-around;
}

.statBox {
    text-align: center;
    margin: 20px;
}