li {

}

.characterStats {
    display: grid;
    grid-template-columns: 120px auto;
}

.sheetBlock {
    margin: 50px;
    display: grid;
}

.sheetBlock>h2 {
    width: 100%;
}

.responsiveTable {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    max-width: 1200px;
}

.sheetList {
    padding: 8px;
}

.sheetList>a>li {
    font-family: 'Roboto';
    font-style: italic;
    color: #2C2E3B;
    font-weight: 100;
    align-items: center;
    display: flex;
    margin: 14px 0px;
}

.sheetList>a>li>mat-icon {
    margin-right: 10px;
}

.gridLayout {
    background-color: #F2F2F2;
}

.column {

}
